<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Students</title>
</head>
<body>
    <form action="/registerstudent" method="post">
        <input name="studentName" type="text" required placeholder="enter STUDENT NAME">
        <input name="studentEmail" type="text" required placeholder="enter STUDENT EMAIL">
        <button type="submit">Enroll Student</button>
    </form>
</body>
</html>